<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products From Here </title>
    {{!-- NAVBAR CSS --}}
    <link rel="stylesheet" href="/styles/navbar.css">
    <style>
        {{> generalcss}}
    </style>
</head>
<body>

    {{> navbar}}
    <h1>Add New Product 🔽</h1>

    <form action="/admin/products/add" method="POST">
        <input type="text" name="name" placeholder="Enter Product Name"> <br>
        <input type="text" name="price" placeholder="Enter Product Price"> <br>
        <input type="text" name="description" placeholder="Enter Product Description"> <br>
        <input type="text" name="seller" placeholder="Enter Product Seller"> <br>
        <input type="text" name="imageUrl" placeholder="Enter ImageUrl"> <br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>