<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admins Home Page</title>
    {{!-- NAVBAR CSS --}}
    <link rel="stylesheet" href="/styles/navbar.css">
    <style>
        
        button{
            width: 100px;
            min-height: 30px;
            background-color: black;
            color: white;
            box-shadow: 2px 5px 5px gray;
        }
        {{> generalcss}}
    </style>
</head>
<body>

    {{> navbar}}
    <h1>Welcome to Admin's Block</h1>

    <div class="button-group">
        <a href="/admin/products/all">
            <button>View Products</button>
        </a> <br> <br>
        <a href="/admin/products/add">
            <button>Add New Product</button>
        </a>
    </div>
    
</body>
</html>